body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #222;
    color: rgb(230, 40, 40);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.hero {
    padding: 40px 20px;
    text-align: center;
    background: #f2f2f2;
}

.hero button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.card {
    background: #ddd;
    padding: 20px;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (min-width: 768px) {
    .features {
        flex-direction: row;
    }
}
@media (min-width: 1024px) {
    .hero {
        padding: 80px;
    }
}